// $blue: #AAC9CE;
// $grey: #B6B4C2;
// $lilac: #C9BBC8;
// $rose: #E5C1CD;
// $almond: #F3DBCF;
// $dark: #24242D;
// $light: #F2F2F2;

// blue gold palette
$light: #F9F9FA;
$lightacc: #91A0A9;
$main: #C3A441;
$darkacc: #7F8585;
$dark: #2B372F;

// parent brand
$pb: #FBB725;
$lightpb: #FBCF71;

$apr: #00FF8E;
$lightapr: #6AFFB3;

$arb: #CBCACC;
$lightarb: #E0DEE0;