@import 'vars';
@import 'modules/masthead';
@import 'modules/work';
@import 'modules/about';
@import 'modules/contact';
@import 'modules/footer';

main {
    width: 100%;
    font-family: 'Sen', sans-serif;
    background-color: $light;
}

.hidden {
    display: none;
}




