#about {
    width: 100%;
    height: 100vh;
    border-top: 1px solid $dark;
    border-bottom: 1px solid $dark;
    display: flex;
    flex-direction: column;

    .about-text {
        width: 100%;
        height: 100vh;
        border-bottom: 1px solid $dark;
        display: flex;
        flex-flow: column nowrap;
        // align-content: space-between;

        h2 {
            font-size: 1.8em;
            // line-height: 2.4em;
            color: $main;
            padding: 30px;
        }

        p {
            font-size: 1em;
            line-height: 1.4em;
            padding: 0 30px 30px; 
        }

        #links {
            margin: 30px;
            display: flex;
            justify-content: space-between;
        }

        #resume-link {
            text-decoration: none;
            width: 20%;
            color: $dark;
            font-size: 1.4em;
            border: 1px solid $dark;
            background-color: transparent;
            padding: 5px;
            text-align: center;
        }

        #resume-link:hover {
            background-color: $main;
            color: $light;
            transition: all 0.2s ease;
        }

        ul {
            display: flex;

            li a {
                font-size: 2em;
                color: $dark;
                padding-right: 15px;
            }

            li a:hover {
                color: $main;
                transition: all 0.2s ease; 
            }
        }
    }

    #about-img {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        overflow: hidden;
        
        #img {
            margin: 30px;
            overflow: hidden;

            img {
                width: 100%;
                opacity: 0.9;
                margin-top: -100px;
            }
        }
    }
}

@media screen and (min-width: 768px){
    #about {
        width: 100%;
        height: 80vh;
        border-top: 1px solid $dark;
        border-bottom: 1px solid $dark;
        display: flex;
        flex-direction: row;
    
        .about-text {
            width: 50%;
            height: 80vh;
            border-right: 1px solid $dark;
            border-bottom: none;
    
            h2 {
                font-size: 2.5em;
                color: $main;
            }
    
            h3, p {
                font-size: 1em;
                line-height: 1.4em;
            }
    
            
        }
    
        #about-img {
            width: 50%;
            height: 80vh;

            #img img {
                margin-top: 0px;
            }
        }

    }
}