#masthead {
    width: 100%;
    height: 100vh;
    display: flex;

    #visual {
        display: none;
    }

    #masthead-ctn {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    
        nav ul {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
    
            li a {
                text-decoration: none;
                color: $main;
                padding-right: 0;
                line-height: 10vh;
                font-size: 1em;
            }
        }
    }

    h2 {
        width: 70%;
        margin: 40px auto 40px;
        color: $main;
        font-size: 2.6em;
        border-bottom: 3px solid $main;
        padding-bottom: 20px;
    }

    p {
        // border: 1px solid red;
        width: 70%;
        margin: 0 auto;
        font-size: 1em;
        line-height: 1.2em;
    }
}

@media screen and (min-width: 768px){
#masthead {
    width: 100%;
    height: 100vh;
    display: flex;

    #visual {
        width: 50%;
        height: 100vh;
        background-image: url(../images/visual.jpg);
        background-size: cover;
        background-position: -100px 0;
        opacity: 0.9;
        display: block;
    }

    #masthead-ctn {
        width: 50%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    
        nav ul {
            width: 100%;
            display: flex;
            // border: 1px solid red;
            justify-content: flex-end;
    
            li a {
                text-decoration: none;
                color: $main;
                padding-right: 30px;
                line-height: 10vh;
                font-size: 1.25em;
            }
        }
    }

    h2 {
        width: 70%;
        margin: 80px auto 40px;
        color: $main;
        font-size: 4.5em;
        border-bottom: 3px solid $main;
        padding-bottom: 20px;
    }

    p {
        // border: 1px solid red;
        width: 70%;
        margin: 0 auto;
        font-size: 1.2em;
        line-height: 1.4em;
    }   
}
}